.beon-showcase {
  background-color: red;
}

.beon-showcase__item-title span {
  background-color: red;
}

.beon-showcase__item-details {
  background-color: whitesmoke;
}

.beon-showcase__item-price-box {
  background-color: greenyellow;
}

.beon-showcase__item.beon-interaction__item.variations-bind {
  background-color: blue;
}

.beon-showcase__item-price-box.beon-showcase__item-price-box--simple span {
  background-color: red;
}

.vtex-stack-layout-0-x-stackContainer {
  background-color: blue;
}